body {
  font: 14px "Georgia", Futura, sans-serif;
  background-color: #19082b;
  margin: 20px;
  align-items: center;
  min-width: auto;
}
.clear {
  clear: both;
  content: ""
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.game {

  min-width: 500px;
  min-height: 10px;
  margin-bottom: 0 auto;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-justify: auto;
  justify-content: center;
}

.game-info {
  font: 18px "Georgia", Futura, sans-serif;
  margin-bottom: 10px;
  color: white;
  background: #2d1646;
  height: 80px;
  display: flex;
  align-items: left;
  justify-content: center;
  border-radius: 5px;
  align-content: left;
}

.player{
  font: 30px, "Georgia", Futura, sans-serif;
  font-size: xx-large;
  color: #f6d48b;
  display: flex;
  justify-content: center;
}

.info{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: contents;
  align-content: center;
  justify-content: center;
  margin-top: 5px;
}
.cell {
  font: 22px "Georgia", Futura, sans-serif;
  font-family: Georgia;
  font-style: bold;
  background: #f9e4bb;
  border: 1px solid #613669;
  float: left;
  line-height: 34px;
  height: 50px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 3px;
  padding: 0; 
  text-align: center;
  width: 50px;
  color: #280f42;
  cursor: pointer;
}
.cell:hover{
  background: #10021f;
  color: white;
  transition: linear 0.2s;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #613669;
}

.is-flag,
.is-mine {
  color: #fc543c;
}
